psycopg2-binary
sqlalchemy
pulp
country_converter
pandas
dash
scipy
sklearn
dash_daq
dash_bootstrap_components
openpyxl
xlrd
requests
cbsodata
dateparser
datetime
geopandas
patsy
statsmodels
plotly.express
geojson
xlsxwriter